<h1>Create a New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth_token %>
  
  <label>
    Title
    <input type="text" name="sub[title]" value="">
  </label>
  
  <label>
    Description
    <input type="text" name="sub[description]" value="">
  </label>
  
  <input type="submit" name="" value="Add Sub">
</form>
