<h1>New Comment on "<%= @comment.post.title %>"</h1>

<form action="<%= post_comments_url(@comment.post_id) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[parent_comment_id]" value="<%= nil %>">
  <input type="hidden" name="" value="">
  <textarea name="comment[content]" rows="8" cols="80"></textarea>
  
  <input type="submit" name="" value="Submit">
</form>